<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
  <div layout:fragment="menu" class="bg-light">
    <ul class="nav nav-pills nav-stacked">
       
       <li role="presentation">
        <a class="nav-link" th:href="@{'/materials/home'}">HOME</a>
       </li>
      
       <li role="presentation">
        <a class="nav-link" th:href="@{'/materials/list'}">資材詳細一覧</a>
      </li>
      
      <li role="presentation">
        <a class="nav-link" th:href="@{'/materials/signup'}">資材登録</a>
      </li>
      
      <li role="presentation">
        <a class="nav-link" th:href="@{'/materials/order'}">資材発注履歴</a>
      </li>
      
     
      
      
    </ul>
  </div>
</body>
</html>